# ملفات البيئة (مهم جداً لحماية التوكن)
.env

# ملفات بايثون المؤقتة
__pycache__/
*.pyc
*.pyo

# مجلدات البيئة الافتراضية
venv/
env/
.venv/

# ملفات النظام
.DS_Store
Thumbs.db

# ملفات التحرير
.vscode/
.idea/
*.log
